---
layout: default
title: zhipcui
---

<div id="home">
    <ol class="post-list">
    {% for post in paginator.posts %}
        <li>
        <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt }}</p>
        <div class="post-list__meta"><time datetime="{{ post.date | date_to_string }}" class="post-list__meta--date date">{{ post.date | date_to_string }}</time> &#8226; <span class="post-list__meta--tags tags">于 <a href="/tag/{{ post.tag }}">{{ post.tag }}</a></span><a class="btn-border-small" href="{{ post.url }}"/>继续阅读</a></div>
        <hr class="post-list__divider" />

      </li>
    {% endfor %}

  </ol>
  <hr class="post-list__divider" />

<nav class="pagination" role="navigation">

{% if paginator.total_pages > 1 %}

  {% if paginator.previous_page %}
    <a class="newer-posts pagination__newer btn btn-small btn-tertiary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"> &larr;Previous</a>
  {% endif %}
    
  <span class="pagination__page-number">{{ paginator.page }}/{{ paginator.total_pages }}</span> 

<!--
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  -->

  {% if paginator.next_page %}
    <a class="older-posts pagination__older btn btn-small btn-tertiary" href="{{ paginator.next_page_path }}">Next &rarr;</a>
  {% endif %}
    
{% endif %}


    
</nav>
</div>


